:root {

    --clr-primary-100: hsl(0, 0%, 100%);
    --clr-primary-300: hsl(0, 0%, 55%);
    --clr-primary-400: hsl(0, 0%, 41%);
    --clr-primary-900: hsl(0, 0%, 0%);

    --fs-400: .9375rem;
    --fs-300: .7rem;     /* see all button */

    --fw-regular: 400;
    --fw-thin: 300;
    --fw-bold: 600;     /* see all button */

    --ff-headings: "Josefin Sans", sans-serif;
    --ff-main: "Alata", sans-serif;
}



    /* reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    line-height: 1.5;
    max-width: 1440px;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2 {
    line-height: 1.1;
    text-wrap: balance;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

ul {
    list-style: none;
}

button {
    border: none;
    background: none;
    font: inherit;
    cursor: pointer;
}

a {
    text-decoration: none;
    font: inherit;
    color: inherit;
}

    /* general styling */


body {
    font-family: var(--ff-main);
    font-size: var(--fs-400);
    font-weight: var(--fw-thin);
    text-align: center;
    
    position: relative;
    border: solid 1px;
    margin-inline: auto;
}

h1, h2 {
    font-family: var(--ff-headings);
    text-transform: uppercase;
    font-weight: var(--fw-regular);
}

.container {
    width: 80%;
    margin-inline: auto;
}


/* header */

header {
    color: var(--clr-primary-100);
    position: relative;
}

header > *:not(.bg-image) {
    position: absolute;
}

.logo {
    width: 9rem;
    top: min(6vw, 5rem);
    left: 10%;

    z-index: 100;
}

.hamburger-button {
    display: none;
}

.primary-navigation {
    right: 10%;
    top: min(6vw, 5rem);
    display: flex;
    gap: 2rem;
}

a:not(.logo):hover::after {
    content: '';
    display: block;
    height: 3px;
    width: 50%;
    margin-left: 30%;
    margin-top: .2rem;
    background-color: var(--clr-primary-100);
    border-radius: 10rem;
}



@media (max-width: 700px) {

    .primary-navigation {
        background-color: black;
        inset: 0 0 0 0;

        flex-direction: column;
        gap: 1rem;
        align-items: flex-start;

        padding-top: min(25vh, 10rem);
        padding-left: 10%;
        font-size: 1.5rem;
        font-family: var(--ff-headings);
        text-transform: uppercase;
        letter-spacing: 2px;

        transform: translateX(100%);
        transition: 350ms ease-out;
        z-index: 99;
    }

    .primary-navigation[data-visible = 'true'] {
        transform: translateX(0);
    }

    .hamburger-button {
        display: block;
        top: min(6vw, 5rem);
        right: 10%;
        width: 2rem;
        height: 1.5rem;

        background-image: url(images/icon-hamburger.svg);
        background-repeat: no-repeat;
        background-size: cover;

        z-index: 100;
    }

    .hamburger-button[aria-expanded = 'true'] {
        background-image: url(images/icon-close.svg);
        background-size: contain;
    }
}



h1 {
    top: 35%;
    right: 10%;
    left: 10%;
    border: solid 3px;

    font-size: clamp(2rem, 5vw, 4rem);
    font-weight: var(--fw-thin);
    letter-spacing: 3px;
    text-align: left;
    padding: 1rem;
}


/* main */

.vr-article {
    margin-block: 5rem;
    color: var(--clr-primary-300);

    position: relative;

    display: grid;
    gap: 2rem;
}

h2 {
    color: var(--clr-primary-900);
    font-size: 1.5rem;
    letter-spacing: 2px;
    margin-bottom: 2rem;
}


.creations-relative {
    position: relative;
}

.creations-relative picture:hover {
    opacity: 50%;
    cursor: pointer;
    transition: 0.5s ease;
}

.creations-relative:hover p {
    color: var(--clr-primary-900);
    transition: 0.3s ease;
}

.creations {
    color: var(--clr-primary-100);
    font-family: var(--ff-headings);
    font-size: 1rem;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 1px;

    position: absolute;
    bottom: 1rem;
    left: 1rem;
    right: 65%;
}

.grid-two-columns {
    display: grid;
    gap: 1.5rem;
}

.grid-four-columns {
    display: grid;
    gap: 1rem;
}

.see-all-btn button {
    font-family: var(--ff-headings);
    font-size: var(--fs-300);
    font-weight: var(--fw-bold);
    text-transform: uppercase;

    border: solid 1px;
    padding: .5rem 2rem;
    letter-spacing: 3px;
}

.see-all-btn button:hover {
    background-color: var(--clr-primary-900);
    color: var(--clr-primary-100);
}


/* footer */

footer {
    margin-top: 6rem;
    color: var(--clr-primary-100);
    background-color: var(--clr-primary-900);

    padding-block: 3rem;
}

.footer-logo {
    width: 9rem;

    margin-inline: auto;
    margin-bottom: 2rem;
}

.footer-container {
    display: grid;
    gap: 4rem;
}

.footer-navigation {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    margin-bottom: 2rem;
}

.copyright {
    color: var(--clr-primary-300);
}







@media (min-width: 700px) {

    /* header */

    h1 {
        width: 50%;
    }

    /* main */

    .vr-article {
        grid-template-columns: 70% 1fr;
        margin-bottom: 15rem;
    }

    .vr-article-text {
        position: absolute;
        top: 55%;
        left: 50%;
        max-width: 50%;
        padding: 3rem 0 3rem 3rem;
        background-color: var(--clr-primary-100);
    }


    .grid-two-columns {
        grid-template-columns: 1fr 1fr;
        gap: 0;
    }

    .grid-four-columns {
        grid-template-columns: repeat(4, 1fr);
        grid-row: 2;
        grid-column: span 2;
    }

    .section-heading {
        text-align: left;
    }

    .see-all-btn {
        text-align: right;
    }

    /* footer */

    .footer-container {
        width: 80%;
        margin-inline: auto;
        grid-template-columns: 1fr 1fr;
    }

    .footer-logo {
        margin-inline: 0;
    }

    .footer-navigation {
        flex-direction: row;
        justify-content: flex-start;
    }

    .social-links {
        justify-content: flex-end;
    }

    .copyright {
        text-align: right;
    }
}